@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #ffffff;
		--foreground: #020817;

		--card: #ffffff;
		--card-foreground: #020817;

		--popover: #ffffff;
		--popover-foreground: #020817;

		--primary: #0f172a;
		--primary-foreground: #f8fafc;

		--secondary: #f1f5f9;
		--secondary-foreground: #0f172a;

		--muted: #f1f5f9;
		--muted-foreground: #64748b;

		--accent: #f1f5f9;
		--accent-foreground: #0f172a;

		--destructive: #ef4444;
		--destructive-foreground: #f8fafc;

		--border: #e2e8f0;
		--input: #e2e8f0;
		--ring: #020817;

		--radius: 0.5rem;
	}

	.dark {
		--background: #020617;
		--foreground: #f8fafc;

		--card: #020617;
		--card-foreground: #f8fafc;

		--popover: #020617;
		--popover-foreground: #f8fafc;

		--primary: #f8fafc;
		--primary-foreground: #020817;

		--secondary: #1e293b;
		--secondary-foreground: #f8fafc;

		--muted: #1e293b;
		--muted-foreground: #94a3b8;

		--accent: #1e293b;
		--accent-foreground: #f8fafc;

		--destructive: #7f1d1d;
		--destructive-foreground: #f8fafc;

		--border: #1e293b;
		--input: #1e293b;
		--ring: #cbd5e1;
	}
}

@layer utilities {
	.bg-noise {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		pointer-events: none;
		z-index: 40;
		opacity: 0.04;
		mix-blend-mode: overlay;
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.7' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}